/*
  BREWER COLORS, 8-class Set1 (QUALITATIVE)
  http://colorbrewer2.org/
*/
.marbelous-stream:nth-child(8n+1) .marbelous-marble {
  fill: #e41a1c;
  stroke: #881011; }

.marbelous-stream:nth-child(8n+2) .marbelous-marble {
  fill: #377eb8;
  stroke: #204869; }

.marbelous-stream:nth-child(8n+3) .marbelous-marble {
  fill: #4daf4a;
  stroke: #2d672c; }

.marbelous-stream:nth-child(8n+4) .marbelous-marble {
  fill: #984ea3;
  stroke: #582d5e; }

.marbelous-stream:nth-child(8n+5) .marbelous-marble {
  fill: #ff7f00;
  stroke: #994c00; }

.marbelous-stream:nth-child(8n+6) .marbelous-marble {
  fill: #ffff33;
  stroke: #cccc00; }

.marbelous-stream:nth-child(8n+7) .marbelous-marble {
  fill: #a65628;
  stroke: #542b14; }

.marbelous-stream:nth-child(8n+8) .marbelous-marble {
  fill: #f781bf;
  stroke: #f1218e; }

.marbelous-stream__name {
  margin: 0 0 -15px 0;
  color: #444;
  font-size: 14pt;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100; }

.marbelous-stream__line {
  stroke: #aaa;
  stroke-width: 1px; }

.marbelous-marble {
  stroke-width: 3px; }
  .marbelous-marble.-curr-value {
    stroke: #aaa !important;
    fill: #eee !important; }

.marbelous-marble__text {
  fill: #222;
  stroke: none;
  font-size: 12pt;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400; }
